<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- https://github.com/electron/electron-notarize#prerequisites -->
	<key>com.apple.security.cs.allow-jit</key>
	<true/>
	<key>com.apple.security.cs.allow-unsigned-executable-memory</key>
	<true/>
	<!-- https://github.com/electron-userland/electron-builder/issues/3940 -->
	<key>com.apple.security.cs.disable-library-validation</key>
	<true/>
</dict>
</plist>